/* COMMON */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #006aff;
}

.navbar-default .navbar-toggle{
  border-color: transparent;
}

.dropbtn {
  color: #757575;
  border: none;
}
.dropdown{
  float: left;
  display: inline-block;
  padding: 15px;
  color: black;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}

/* global vars */
#macro_div >*{
  position: relative;
  top: 50px;
}
section{padding: 5% 0;}

.txtw{color: white;}
.txtg{color: hsla(0,0%,100%,0.5)}

.bold{font-weight: bold;}

.center{text-align: center;}

.px5h{padding: 5% 0;}
.px5w{padding: 0 5%;}
.px5{padding: 5%;}


.i_block{display: inline-block;}

.right{text-align: right;}
.fright{float: right;
  padding: 6px;
}

.marginb{margin-bottom: 3%}
.no_margin{margin: 0;}

.no_width{width: auto;}

hr{margin: 0;}

.grid li h5{
  display: inline-block;
  width: 10%;
}

/* NAV */

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 450px;
}

header .navbar-default img{
  max-width: 150px;
}

.navbar-brand{
  padding: 9px 15px;
}
.navbar-right  {
}

.navbar-default .navbar-nav  li > a {
    color: black;
    background-color: transparent;
}

.navbar-default .navbar-nav  li > a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

.collapse .navbar-right .h_button{
  color: #006aff;
  border: 2px solid #006aff;
  padding: 7px;
  border-radius: 10px;
  font-weight: bold;
  transition: all .5s;
}

.navbar-nav.navbar-right .h_button:hover{
  color: white;
  background-color: #006aff;
}

.form-control{
  margin: 5px 0;
}

.test{
  height: 200px;
}

#deploy .test > a h4{
  border-left: 2px solid grey 100%;
}

.carousel-indicators .active{
  background-color: #006aff;
}
.carousel-indicators li{
  border: 1px solid #006aff;
}
.carousel-item {
    height: 350px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}

/* DBUG */

#top{
  color: white;
  background-image: url(../img/aqua.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
}
#top h3{
  font-weight: bold;
  margin: 0;
  padding: 20px;
  color: black;
}
#top [class*="col-"]{
  margin-top: 10%;
}
#top .signinform{
  background-color: white;
  border-radius: 15px;
}

#top .sign_bar1{
  background-color: #f3f5f9;
  text-align: center;
  padding: 0 14px;
  border-radius: 15px 15px 0 0;
}
#top .sign_form1{
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
#top .sign_form1 button{
  background-color: #006aff;
  color: white;
  width: 100%;
  font-weight: bold;
}

#top .sign_bott{
  height: 50px;
  color: #006aff;
  text-align: center;
}
#top .sign_bott a{
  padding: 10px;
  border: #006aff solid 2px;
  text-decoration: none;
}

#sponsor{
  text-align: center;
  background-color: #f3f5f9;
}
#sponsor img{
  max-height: 70px;
}

#carosel{
  background-color: #f3f5f9;
}

#worldwide{
  background: #031b4e url(../img/data-center-map.svg);
}

#devs{
  background-color: #f3f5f9;
}

#getstarted{
  background-image: url(../img/bk_start.svg);
}

#footer{
  background-color: hsl(220,95%,8%);
}

/* Bootstrap Override */
@media (max-width: 1199px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .collapse.in{
      display:block !important;
  }
  .dropdown{
    float: none;
  }
  .signinform{
    max-width: 60%;
    margin: 0 auto;
  }
}
